* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html,
body {
  color: #f11212;
  background-color: #1ebcff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 40px;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  font-family: roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.logo-imagen-contenedor {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-dbz {
  width: 400px;
  height: 60px;
}

.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #006de1 ;
  padding: 25px;
  margin: 10px;
  border-radius: 20px;
}